body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

:root {
  --color-main: #CD5C08;
  --color-shadown: #C70039;
}

/* Content timeline */

.timeline {
  width: 100%;
  margin: 50px auto;
  padding: 40px 0;
  position: relative;
}

.timeline::before {
  content: '';
  width: 3px;
  height: 100%;
  background-color: var(--color-main);
  position: absolute;
  left: 50%;
}

/* Elments of list */

.timeline ul li { 
  width: 50%;
  padding: 20px 40px;
  position: relative;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}
